<h1>New feed</h1>

<form id="new-feed" name="feed">
	<div>
		<b> message:</b>
		<input type="text" name="message" id="message" />
	</div>

	<div>
		<input type="submit" value="Create Feed" />
	</div>
</form>
<a href="#">Home</a>