// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fb_connect_btn {
    background-image: url("facebook-connect.png");
    display: block;
    height: 41px;
    text-indent: -9999px;
    width: 130px;
}